<div class="container" style="position: relative; top: 20vh;">
  <div style="text-align: center; padding-top: 1vh;">
    <h2>Contact Us</h2>
  </div>
  <div class="container" style="text-align: center;">
    <div class="row">
      <div class="col">
        <img src="././assets/images/avatar.jpg" width="350vw" height="350vh">
        <h3>Paolo McNeill</h3>
        <div class="container">
          <p>Phone: (902) 471-0415</p>
          <p>Email: Harbour.gutter@gmail.com</p>
        </div>
      </div>
      <div class="col">
        <img src="././assets/images/avatar.jpg" width="350vw" height="350vh">
        <h3>Ryan Doucette</h3>
        <p>Phone: (902) 245-8680</p>
        <p>Email: Harbour.gutter@gmail.com</p>
      </div>
    </div>
  </div>

</div>
