<img id="mobileStretch"/>
<div id="contactPage" class="container">
  <div id="contactUsHeader">
    <h1>Contact Us</h1>
  </div>
  <div id="contactContent" class="container">
    <div class="row">
      <div id="PacoContactContent" class="col">
        <img class="contact-images" src="././assets/images/paco.jpg">
        <h2 class="contact-header">Paolo McNeill</h2>
        <div class="contact-info">
          <a id="PacoPhone" href="tel:9024710415" class="phoneNum"><span class="bold">Phone:</span> (902) 471-0415</a>
          <p><a class="email" href="mailto:Harbour.gutter@gmail.com"><span class="bold">Email:</span> Harbour.gutter@gmail.com</a></p>
        </div>
      </div>
      <div class="col">
        <img class="contact-images" src="././assets/images/ryan.jpg">
        <h2 class="contact-header">Ryan Doucette</h2>
        <div class="contact-info">
          <a id="RyanPhone" href="tel:902458680" class="phoneNum"><span class="bold">Phone:</span> (902) 245-8680</a>
          <p><a class="email" href="mailto:Harbour.gutter@gmail.com"><span class="bold">Email:</span> Harbour.gutter@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
