<nav class="navbar navbar-expand navbar-light fixed-top">
  <div class="container">
      <img class="navbar-brand" src="./assets/images/logo.png" width="275" height="275" alt="logo">
    <!-- Desktop navbar elements-->
    <div class="d-flex flex-column flex-wrap ms-auto" id="navbar">
      <ul class="navbar-nav mb-auto mt-0 ms-auto me-auto" id="nav_elements">
        <a id="callnow" class="navbar-text ms-auto py-0 px-lg-2" href="tel:9024710415">
          CALL NOW <span style="color:	red;">(902) 471-0415</span>
        </a>
        <li class="nav-item ms-auto">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">HOME</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link" routerLink="/quote" routerLinkActive="active">GET QUOTE</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active" >CONTACT US</a>
        </li>
        <li class="nav-item ms-4" style="display: none;">
          <a class="nav-link" routerLink="/testimonials" routerLinkActive="active">TESTIMONIALS</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Mobile/smaller-screen navbar elements-->
  <div class="container" id="navbar_mobile">
    <ul class="navbar-nav d-flex flex-row" id="nav_elements_mobile">
      <a id="callnow_mobile" class="navbar-text" href="tel:9024710415">
        CALL NOW <span style="color:	red;">(902) 471-0415</span>
      </a>
      <li class="nav-item">
        <a id="home-link" class="nav-link" routerLink="/home" routerLinkActive="active">HOME</a>
      </li>
      <li class="nav-item">
        <a id="quote-link" class="nav-link" routerLink="/quote" routerLinkActive="active">GET QUOTE</a>
      </li>
      <li class="nav-item" style="display: none;">
        <a class="nav-link" routerLink="/testimonials" routerLinkActive="active">TESTIMONIALS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">CONTACT US</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Not an error just IDE issue -->
<router-outlet></router-outlet>

<div id="footer" class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="z-index: 20;">
    <p id="footer-copyright" class="col-md-4 mb-0">&copy; 2022 Harbour Gutter, Inc</p>
    <a class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img class="bi me-2" src="./assets/images/logo.png" width="150" height="150" alt="logo">
    </a>
    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
          <a class="nav-link px-2 text-muted" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-2 text-muted" routerLink="/quote">Get Quote</a>
        </li>
        <li class="nav-item" style="display: none;">
          <a href="#" class="nav-link px-2 text-muted" routerLink="/testimonials">Testimonials</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted" routerLink="/contact">Contact Us</a>
        </li>
    </ul>
  </footer>
</div>
<div id="footer_mobile">
  <footer class="d-flex flex-wrap align-items-center py-3 my-4 border-top" style="z-index: 20;">
    <p class="col">&copy; 2022 Harbour Gutter, Inc</p>
    <a class="col align-items-center justify-content-center link-dark text-decoration-none">
      <img class="bi me-2" src="./assets/images/logo.png" width="150" height="150" alt="logo">
    </a>
    <ul class="nav col">
      <li class="nav-item">
        <a class="nav-link px-2 text-muted" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 text-muted" routerLink="/quote">Get Quote</a>
      </li>
      <li class="nav-item" style="display: none;">
        <a href="#" class="nav-link px-2 text-muted" routerLink="/testimonials">Testimonials</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted" routerLink="/contact">Contact Us</a>
      </li>
    </ul>
  </footer>
</div>
