@media screen and (min-width: 320px) and (max-width: 399px){
  #quotePage{
    margin-top: 21vh;
    position: relative;
    left: 16%;
  }
  .form-group{
    padding: 0vh 2vh 3vh;
  }

  #quoteHeader h1{
    font-size: 22px;
  }

  #quoteForm{
    margin-top: 2vh;
    font-size: 1em;
    outline-style: outset;
    outline-color: #F5F5F5;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }

  #quotePhotoDesktop{
    display: none;
  }
  #quotePhotoMobile{
    opacity: 0.9;
    filter: brightness(90%);
    position:relative;
    top: 18vh;
    width: 479px;
  }
  /* div */
  #submit-button{
    font-size: 1.2vw;
    text-align: center;
    position: relative;
    margin-top: 4vh;
    padding-bottom: 10vh;
  }

  /* button */
  #submit{
    font-weight: bolder;

  }

  .errorMessage{
    color: #ff0032;
    font-weight: 600;
  }

  input{
    background-color: #ECFCFF;
  }

}
@media screen and (min-width: 400px) and (max-width: 479px){
  #quotePage{
    margin-top: 21vh;
    position: relative;
    left: 8%;
  }
  .form-group{
    padding: 0vh 2vh 3vh;
  }

  #quoteHeader h1{
    font-size: 22px;
  }

  #quoteForm{
    margin-top: 2vh;
    font-size: 1em;
    outline-style: outset;
    outline-color: #F5F5F5;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }

  #quotePhotoDesktop{
    display: none;
  }
  #quotePhotoMobile{
    opacity: 0.9;
    filter: brightness(90%);
    position:relative;
    top: 18vh;
    width: 479px;
  }
  /* div */
  #submit-button{
    font-size: 1.2vw;
    text-align: center;
    position: relative;
    margin-top: 4vh;
    padding-bottom: 10vh;
  }

  /* button */
  #submit{
    font-weight: bolder;

  }

  .errorMessage{
    color: #ff0032;
    font-weight: 600;
  }

  input{
    background-color: #ECFCFF;
  }

}
@media screen and (min-width: 480px) and (max-width: 575px){
  #quotePage{
    margin-top: 21vh;
    position: relative;
    left: 5%;
  }
  .form-group{
    padding: 0vh 2vh 3vh;
  }

  #quoteHeader h1{
    font-size: 22px;
  }

  #quoteForm{
    margin-top: 2vh;
    font-size: 1em;
    outline-style: outset;
    outline-color: #F5F5F5;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }

  #quotePhotoDesktop{
    display: none;
  }
  #quotePhotoMobile{
    opacity: 0.9;
    filter: brightness(90%);
    position:relative;
    top: 18vh;
    width: 600px;
  }
  /* div */
  #submit-button{
    font-size: 1.2vw;
    text-align: center;
    position: relative;
    margin-top: 4vh;
    padding-bottom: 10vh;
  }

  /* button */
  #submit{
    font-weight: bolder;

  }

  .errorMessage{
    color: #ff0032;
    font-weight: 600;
  }

  input{
    background-color: #ECFCFF;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  #quotePage{
    margin-top: 21vh;
    position: relative;
    left: 5%;
  }
  .form-group{
    padding: 0vh 2vh 3vh;
  }

  #quoteHeader h1{
    font-size: 22px;
  }

  #quoteForm{
    margin-top: 2vh;
    font-size: 1em;
    outline-style: outset;
    outline-color: #F5F5F5;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }

  #quotePhotoDesktop{
    display: none;
  }
  #quotePhotoMobile{
    opacity: 0.9;
    filter: brightness(90%);
    position:relative;
    top: 18vh;
    width: 600px;
  }
  /* div */
  #submit-button{
    font-size: 1.2vw;
    text-align: center;
    position: relative;
    margin-top: 4vh;
    padding-bottom: 10vh;
  }

  /* button */
  #submit{
    font-weight: bolder;

  }

  .errorMessage{
    color: #ff0032;
    font-weight: 600;
  }

  input{
    background-color: #ECFCFF;
  }
}
@media screen and (min-width: 768px) and (max-width: 900px){
  #quotePage{
    margin-top: 17vh;
    position: relative;
    left: 14%;
  }
  .form-group{
    padding: 0vh 2vh 3vh;
  }

  #quoteHeader h1{
    font-size: 26px;
  }

  #quoteForm{
    position: relative;
    margin-top: 2vh;
    width:100%;
    font-size: 1em;
    outline-style: outset;
    outline-color: #F5F5F5;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }

  #quotePhotoDesktop{
    opacity: 0.9;
    filter: brightness(90%);
    position:relative;
    top: 15vh;
    width: 1020px;
  }
  #quotePhotoMobile{
    display: none;
  }
  /* div */
  #submit-button{
    font-size: 1.2vw;
    text-align: center;
    position: relative;
    margin-top: 4vh;
  }

  /* button */
  #submit{
    font-weight: bolder;

  }

  .errorMessage{
    color: #ff0032;
    font-weight: 600;
  }

  input{
    background-color: #ECFCFF;
  }
}
@media screen and (min-width:901px) and (max-width: 1023px){
  #quotePage{
    margin-top: 21vh;
  }
  .form-group{
    padding: 0vh 2vh 3vh;
  }

  #quoteForm{
    position: relative;
    margin-top: 2vh;
    width:62%;
    font-size: 1.3vw;
    outline-style: outset;
    outline-color: #F5F5F5;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }

  #quotePhotoDesktop{
    opacity: 0.9;
    filter: brightness(90%);
    position:relative;
    top: 18vh;
  }
  #quotePhotoMobile{
    display: none;
  }
  /* div */
  #submit-button{
    font-size: 1.2vw;
    text-align: center;
    position: relative;
    margin-top: 4vh;
    padding-bottom: 10vh;
  }

  /* button */
  #submit{
    font-weight: bolder;

  }

  .errorMessage{
    color: #ff0032;
    font-weight: 600;
  }

  input{
    background-color: #ECFCFF;
  }

}
@media screen and (min-width: 1024px){
  #quotePage{
    margin-top: 21vh;
  }
  .form-group{
    padding: 0vh 2vh 3vh;
  }

  #quoteForm{
    position: relative;
    margin-top: 2vh;
    width:62%;
    font-size: 1.3vw;
    outline-style: outset;
    outline-color: #F5F5F5;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }

  #quotePhotoDesktop{
    opacity: 0.9;
    filter: brightness(90%);
    position:relative;
    top: 18vh;
  }
  #quotePhotoMobile{
    display: none;
  }
  /* div */
  #submit-button{
    font-size: 1.2vw;
    text-align: center;
    position: relative;
    margin-top: 4vh;
    padding-bottom: 10vh;
  }

  /* button */
  #submit{
    font-weight: bolder;

  }

  .errorMessage{
    color: #ff0032;
    font-weight: 600;
  }

  input{
    background-color: #ECFCFF;
  }

}
