<img id="quotePhotoDesktop" src="././assets/images/quotebanner.png" width="1600" height="180" alt="man installing gutter">
<img id="quotePhotoMobile" src="././assets/images/quotebanner_mobile.png" width="600" height="180" alt="man installing gutter">
<div id="quotePage" class="container">
  <div id="quoteHeader" class="container" style="text-align: center;">
    <h1>Get Your Quote Now</h1>
  </div>
  <div id="quoteForm" class="container bg-light rounded">
    <form [formGroup]="quoteForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" id="name" type="text" formControlName="name" maxlength="70" placeholder="Enter your name...">
        <p class="errorMessage" *ngIf="quoteForm.get('name').invalid && ((quoteForm.get('name').touched))">
          <ng-container *ngIf="quoteForm.get('name').hasError('required')">
            Name is required
          </ng-container>
          <ng-container *ngIf="quoteForm.get('name').hasError('pattern')">
            Please enter valid name (i.e., no numbers)
          </ng-container>
        </p>
      </div>
      <div class="form-group">
        <label for="phoneNum">Phone Number</label>
        <input class="form-control" id="phoneNum" type="text" formControlName="phoneNum" placeholder="e.g. 999-999-9999">
          <p class="errorMessage" *ngIf="quoteForm.get('phoneNum').invalid && ((quoteForm.get('phoneNum').touched))">
            <ng-container *ngIf="quoteForm.get('phoneNum').hasError('required')">
              Phone number is required
            </ng-container>
            <ng-container *ngIf="quoteForm.get('phoneNum').hasError('pattern')">
              Invalid phone number format (try: XXX-XXX-XXXX)
            </ng-container>
          </p>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" id="email" type="email" formControlName="email" maxlength="320" placeholder="e.g. example@gmail.com">
        <p class="errorMessage" *ngIf="quoteForm.get('email').invalid && ((quoteForm.get('email').touched))">
          <ng-container *ngIf="quoteForm.get('email').hasError('required')">
            Email is required
          </ng-container>
          <ng-container *ngIf="quoteForm.get('email').hasError('pattern')">
            Invalid email format please try again
          </ng-container>
        </p>
      </div>
      <div class="form-group">
        <label for="comment">Briefly explain the work you'd like done</label>
        <textarea class="form-control" id="comment" type="text" maxlength="1000" formControlName="comment" rows="4"></textarea>
      </div>
    </form>
  </div>
  <div id="submit-button">
    <button id="submit" type="submit" class="btn btn-primary" [disabled]="quoteForm.invalid || submitted" (click)="onSubmit()">Submit</button>
  </div>
</div>
