<img id="mobileStretch"/>
<div id="testimonialsPage" class="container">
  <section id="testimonials" class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="carousel slide" data-bs-ride="carousel" id="quote-carousel" data-bs-interval="false">
          <div id="testimonialHeader">
            <h3>Testimonials</h3>
          </div>
          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner text-center">
            <!-- Quote 1 -->
            <div class="carousel-item active">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2 testimony-text">
                    <p>Very professional and fair with their work and quote.</p>
                    <small>- Arifuku T.</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 2 -->
            <div class="carousel-item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2 testimony-text">
                    <p>Great service and excellent work. They were in and out quickly and were very tidy with their work. I’ve had lots of experience with tradespeople where I ended up cleaning after them.  Highly recommend.  </p>
                    <small>- Sheila B.</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 3 -->
            <div class="carousel-item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2 testimony-text">
                    <p>I needed my gutters done ASAP as the water was getting into the basement. Although being fully booked, they made sure to accommodate us before a string of rainy days came.</p>
                    <small>- Ashley P.</small>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>
          <!-- Carousel Buttons Next/Prev -->
          <a data-bs-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
          <a data-bs-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </section>
</div>
