/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
#getAQuoteDiv{
  width: 100%;
  position: relative;
  top: 28vh;

}
#getAQuotePic{
  position:relative;
  height:450px;
  width: 1600px;
  opacity: 0.95;
  filter: brightness(85%);
}
#getAQuoteButton{
  position:relative;
  left: 22vw;
  bottom: 20vh;
  width: 50%;
  font-size: 18px;
  z-index: 2;
  background-color: #ffde59;
  font-weight: bold;
}
